@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Fira Code', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif; */

:root {
    --bigheadercolor: #CCD6F6;
    --alltext: #8892B0;
    --highlight: #007BFF;
    --docbgcolor: #0A192F;
    --black: #000000;
    --darkerbg: #233554;
    --firacode: 'Fira Code', monospace;
    --normal: 'Inter', sans-serif;
    --border-radius: 3px;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--docbgcolor);

}

::-webkit-scrollbar-thumb {
    background: var(--darkerbg);
    border-radius: 10px;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--docbgcolor);
    color: var(--alltext);
    font-size: 18px;
    font-family: var(--normal);
}

.fira {
    font-family: var(--firacode);
}

.brighter {
    color: var(--bigheadercolor);
}

.bcolored {
    color: var(--highlight);
}

button {
    border: 1px solid var(--highlight);
    font-family: var(--firacode);
    font-weight: 600;
    padding: 10px;
    background-color: var(--docbgcolor);
    color: var(--highlight);
    border-radius: var(--border-radius);
    line-height: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #007bff33;
    color: var(--bigheadercolor);
}

.normaltxt {
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}

.emphasized {
    color: var(--highlight);
}

.smalltxt {
    font-family: var(--firacode);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.reference {
    display: none;
}