@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Fira Code', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif; */

:root {
    --bigheadercolor: #CCD6F6;
    --alltext: #8892B0;
    --highlight: #007BFF;
    --docbgcolor: #0A192F;
    --black: #000000;
    --darkerbg: #233554;
    --firacode: 'Fira Code', monospace;
    --normal: 'Inter', sans-serif;
    --border-radius: 3px;
    --paddingsections: 80px;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--docbgcolor);

}

::-webkit-scrollbar-thumb {
    background: var(--darkerbg);
    border-radius: 10px;
}

body{
    padding: 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-color: var(--docbgcolor);
    color: var(--alltext);
    font-size: 18px;
    font-family: var(--normal);
}

a {
    text-decoration: none;
    color: var(--alltext);
}

.line {
    background-color: var(--highlight);
    width: 4px;
    height: 100px;
}

.section2, section3 {
    padding: 10px var(--paddingsections);
}

.sechead {
    padding: 10px var(--paddingsections);
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 5%;
}

.hidden {
    display: none;
}

.hline {
    background-color: var(--highlight);
    height: 4px;
    width: 80%;
}

.htxt {
    width: 150px;
}

.iconsl {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 23px;
}


.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 0;
    margin-left: 25px;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 25px;
}

.orient {
    writing-mode: vertical-rl;
}

.fira {
    font-family: var(--firacode);
}

.brighter {
    color: var(--bigheadercolor);
}

.bcolored {
    color: var(--highlight);
}

.up_padd {
    padding-top: 50px;
}

up_padd_s {
    padding-top: 30px;
}

button {
    border: 1px solid var(--highlight);
    font-family: var(--firacode);
    font-weight: 600;
    padding: 10px 15px;
    background-color: var(--docbgcolor);
    color: var(--highlight);
    border-radius: var(--border-radius);
    /* line-height: 25px; */
}

button:hover {
    cursor: pointer;
    background-color: #007bff33;
    color: var(--bigheadercolor);
}

.normaltxt {
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}

.emphasized {
    color: var(--highlight);
}

.smalltxt {
    font-family: var(--firacode);
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.reference {
    display: none;
}

/* End of global */
/*  */
/* start of menu */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    border-bottom: 1px solid #007bff10;
    font-size: 16px;
}

.dlogo:hover {
    cursor: pointer;
}

.dlogo > img {
    height: 60px;
}

.mmenu {
    display: none;
}

.hmenu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.hmenu div:nth-child(6) {
    margin-left: 20px;
}

.menutem:hover {
    cursor: pointer;
    color: var(--highlight);
}
/* end of menu */

.section1 {
    padding: 60px 80px;
}

/* above my name */

.welcometxt {
    padding: 0px;
    margin: 0px;
}

/* my name */

.namemod {
    padding: 0px;
    margin: 0px;
    font-size: 80px;
}

.desmod {
    padding: 0px;
    margin: 0px;
    font-size: 60px;
}

.destxt span:nth-child(3), span:nth-child(5) {
    margin-left: 50px;
}

.whtxt {
    margin-top: 50px;
    width: 65%;
}

.btsec {
    margin-top: 60px;
}

.btsec button:nth-child(2) {
    margin-left: 40px;
}
/* section 2 */


.rtext2 {
    width: 68%;
}

/* responsiveness */

/* Mobile devices */
@media (max-width: 480px) {
    .header {
        padding: 5px 20px;
    }
    .rightside, .leftside {
        display: none;
    }
    .hidden {
        display: block;
    }
    .htxt {
        width: 300px;
        text-align: center;
    }
    .sechead {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    button {
        border: 1px solid var(--highlight);
        font-family: var(--firacode);
        font-weight: 400;
        padding: 7px 10px;
        background-color: var(--docbgcolor);
        color: var(--highlight);
        border-radius: var(--border-radius);
        /* line-height: 25px; */
    }

    button:hover {
        cursor: pointer;
        background-color: #007bff33;
        color: var(--bigheadercolor);
    }

    .normaltxt {
        line-height: 24px;
        font-weight: 400;
        font-size: 18px;
    }

    body{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-color: var(--docbgcolor);
        color: var(--alltext);
        font-size: 13px;
        font-family: var(--normal);
    }
    .hmenu {
        display: none;
    }
    .mmenu {
        display: block;
    }
    .dlogo > img {
        height: 30px;
    }
    .section1 {
        padding: 30px 0px;
        margin: 0px;
        text-align: center;
    }
    .welcometxt {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }
    .smalltxt {
        font-family: var(--firacode);
        font-size: 9px;
        font-weight: 400;
        line-height: 8px;
    }
    /* my name */
    
    .namemod {
        padding: 0px 0px 10px 0px;
        margin: 0px;
        font-size: 37px;
    }
    
    .desmod {
        margin: 0px;
        font-size: 20px;
    }
    .destxt {
        margin: 0px 15px;
        font-size: 10px;
    }
    .whtxt {
        padding: 0px 10px;
        margin-top: 50px;
        width: 90%;
        /* text-justify: distribute; */
    }
    .btsec {
        margin-top: 20px;
    }
    .destxt span:nth-child(3) {
        margin-left: 50px;
    }
    .destxt span:nth-child(6) {
        margin-right: 70px;
    }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .rightside, .leftside {
        display: none;
    }
    button {
        border: 1px solid var(--highlight);
        font-family: var(--firacode);
        font-weight: 400;
        padding: 7px 10px;
        background-color: var(--docbgcolor);
        color: var(--highlight);
        border-radius: var(--border-radius);
        /* line-height: 25px; */
    }

    button:hover {
        cursor: pointer;
        background-color: #007bff33;
        color: var(--bigheadercolor);
    }

    .normaltxt {
        line-height: 24px;
        font-weight: 400;
        font-size: 18px;
    }

    body{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-color: var(--docbgcolor);
        color: var(--alltext);
        font-size: 13px;
        font-family: var(--normal);
    }
    .hmenu {
        display: none;
    }
    .mmenu {
        display: block;
    }
    .dlogo > img {
        height: 30px;
    }
    .section1 {
        padding: 30px 0px;
        margin: 0px;
        text-align: center;
    }
    .welcometxt {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }
    .smalltxt {
        font-family: var(--firacode);
        font-size: 9px;
        font-weight: 400;
        line-height: 8px;
    }
    /* my name */
    
    .namemod {
        padding: 0px 0px 10px 0px;
        margin: 0px;
        font-size: 37px;
    }
    
    .desmod {
        margin: 0px;
        font-size: 20px;
    }
    .destxt {
        font-size: 10px;
    }
    .whtxt {
        padding: 0px 10px;
        margin-top: 50px;
        width: 90%;
        /* text-justify: distribute; */
    }
    .btsec {
        margin-top: 20px;
    }
    .destxt span:nth-child(3) {
        margin-left: 50px;
    }
    .destxt span:nth-child(6) {
        margin-right: 70px;
    }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Extra large screens, TV  */
@media (min-width: 1201px) {

}